<div id="confirmed-email" v-cloak>
  <div class="container">
    <h1 class="text-center">Confirmación de correo electrónico</h1>
    <div class="confirmation-message">
      <hr/>
      <p>Felicidades, Su cuenta ha sido verificada! Ahora tienes acceso en SIGED.</p>
      <p><a class="btn btn-outline-info" href="/">Ir al Dashboard</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
