<div id="forgot-password" v-cloak>
  <div class="container">
    <h1 class="text-center">Recuperar contraseña</h1>
    <div class="forgot-form" v-if="!cloudSuccess">
      <p class="text-center">Ingrese su correo electrónico a continuación, para recuperar la contraseña.</p>
      <hr/>
      <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <input type="email" name="email-address" class="form-control" placeholder="sturgeon@example.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Por favor, ingrese un correo electrónico valido.</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>Ha ocurrido un error al procesar su solicitud,<a href="/contact">contacte a soporte</a> si el error persiste.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Enviar link de recuperación</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/login">Volver al acceso del sistema</a></p>
    </div>
    <div class="success-message" v-if="cloudSuccess">
      <p>Ya hemos enviado el link para que recuperes la contraseña.</p>
      <hr/>
      <p>Si no es recibido el correo electrónico, revise su carpeta de spam.  Si aun no logra obtener el link, por favor <a href="/contact">contacte a soporte</a>.</p>
      <p class="text-center"><a class="btn btn-outline-primary" href="/login">Regresar al acceso del sistema</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
