<div id="new-password" v-cloak>
  <div class="container">
    <h1 class="text-center">Cambiar contraseña</h1>
    <div class="new-password-form">
      <hr/>
      <ajax-form action="updatePasswordAndLogin" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="password">Nueva contraseña</label>
          <input class="form-control" id="password" name="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password" focus-first>
          <div class="invalid-feedback" v-if="formErrors.password">Por favor, ingrese la nueva contraseña.</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm password</label>
          <input class="form-control" id="confirm-password" name="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword">Su nueva contraseña y la confirmación no coinciden.</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>Ha ocurrido un error al procesar su solicitud. Por favor revise su información y vuelva a intentarlo, o <a href="/contact">contacte a soporte</a> si el error persiste.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Actualizar</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center">Recordar contraseña? <a href="/login">Página de acceso</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
