<meta name="google-signin-client_id" content="641343193559-6pkb72i79drttdor67ig17bai8mfj5si.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<div id="account-overview" v-cloak>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">      
        <h1>Mi cuenta</h1>
        <hr/>
        <div class="row mb-3">
          <div class="col-sm-6">
            <h4>Información personal</h4>
          </div>
          <div class="col-sm-6">
            <span class="float-sm-right">

              <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/profile">Editar perfil</a>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Nombre completo:</div>
          <div class="col"><strong>{{me.fullName}}</strong></div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Correo-electrónico:</div>
        </div>
        <hr/>
        <div class="row mb-3">
          <div class="col-sm-6">
            <h4>Contraseña</h4>
          </div>
          <div class="col-sm-6">
            <span class="float-sm-right">
              <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/password">Cambiar contraseña</a>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Contraseña:</div>
          <div class="col"><strong>••••••••••</strong></div>
        </div>
        <hr/>
        <div class="row mb-3" >
          <div class="col-sm-6">
            <h4>Has iniciadio sesión con {{ me.emailAddress }}</h4>
          </div>
          <div class="col-sm-6">
            <span class="float-sm-right">
              <div id="gSignIn" class="g-signin2" data-onsuccess="onSignIn"></div>
            </span>
          </div>
        </div>
        <hr/ v-if="isGoogle()">
      </div>
    </div>
  </div>
</div>
<script src="/js/pages/account/account-overview.page.js"></script>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
