<div id="edit" v-cloak class="container">
  <div class="row"  v-if="!cloudSuccess">
      <ajax-form  action="editUnidad" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm($event)" :handle-parsing="handleParsingForm" style="margin-top: 60px;">
	    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group navbar-fixed-top" style=" background-color: #eceeef; margin-top:2px; height:45px;">
	      <ajax-button type="submit" :syncing="syncing" class="btn btn-success" id="save">Guardar</ajax-button>
	      <a class="salir btn btn-danger" name= "salir" id="salir">Salir</a>
	     </div>
       <div class="container">
        <div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group" :class="[formErrors.nombre ? 'has-error' : '']">
            <label for="clave">Homoclave</label>
            <input class="form-control" id="clave" disabled="true" type="text" v-model.trim="formData.homoclave" placeholder="TI" autocomplete="name" focus-first>
            <div class="invalid-feedback" v-if="formErrors.homoclave">Por favor ingrese la homoclave.</div>
          </div>
        </div>
        <div class="row">         
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group" :class="[formErrors.nombre ? 'has-error' : '']">
            <label for="nombre">Nombre de la Unidad</label>
            <input class="form-control" id="nombre" type="text" v-model.trim="formData.nombre" placeholder="Tecnologias de la Informacion" autocomplete="name">          
            <div class="invalid-feedback" v-if="formErrors.nombre">Por favor ingrese un nombre para la unidad.</div>
          </div>
        </div>               
    </div>
      </ajax-form>
    
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
<script src="/js/pages/catalogo/dependencias/edit.page.js"></script>